@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  margin: 32px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.header, .left-links {
  display: flex;
  justify-content:space-between;
  align-items: start;
  list-style: none;
  gap: 10px;
  margin-right: auto;
}
.header, .right-links{
  display: flex;
  justify-content:space-between;
  align-items: end;
  list-style: none;
  gap: 10px;
  flex-grow: 0;
}
.footer, .left-links {
  display: flex;
  justify-content:space-between;
  align-items: start;
  list-style: none;
  gap: 10px;
  margin-right: auto;
}
.footer, .right-links{
  display: flex;
  justify-content:space-between;
  align-items: end;
  list-style: none;
  gap: 10px;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center ;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
}
.footer{
  background-color: #eee;
  gap: 10px;
  margin: auto;
}
input{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SOLUTION 

body {
  display: flex;
  flex-direction: column;
}

button {
  padding: 8px 16px;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

a {
  color: #666;
  text-decoration: none;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}
  */